@()(implicit request: play.api.mvc.RequestHeader)

@main("SF Script Generator") {

    <script>
        $(function() {
            var scriptSocket = new WebSocket("@routes.Application.wsSF().webSocketURL()");

            var receivedFirstMessage = false;

            scriptSocket.onmessage = function (event) {
                if(!receivedFirstMessage) {
                    receivedFirstMessage = true;
                    $("#script").empty();
                }

                $("#script").append(event.data);
            };
        });
    </script>

    <a id="source" target="_blank" href="https://github.com/shoffing/SFScripter">Check out the source on GitHub</a>

    <h1>Seinfeld Script Writer</h1>

    <pre id="script">Loading...</pre>

}
